body {
    font-family: sans-serif;
    text-align: center;
    background: #eef;
  }
  
  main {
    padding: 20px;
    background: white;
    margin: auto;
    max-width: 400px;
    border-radius: 10px;
  }
  