body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
     background-image: url('img/ilustraçãoEx3.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  
  }
  
  .container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 400px;
    width: 90%;
  }
  
  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #3366cc;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #254e9b;
  }
  
  #resultado {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
  }
  